*,*:before,*:after{
    box-sizing: border-box;
}
html, body,ol,ul,li,p,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
html {
    font-family: "方正兰亭中黑", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Source Han Sans", "Noto Sans CJK Sc", "Microsoft YaHei", "Microsoft Jhenghei", sans-serif;
}
ul{
    list-style: none;
}
.pull-left{
    float: left;;
}
.pull-right{
    float:right;
}
.zmUp{
    color:#f45531;
}
.zmDowm {
    color: #21CC99;
}
.zmGray{
    color:#8F8E94;
}
.text-center{
    text-align: center;
}
.verticle-center{
    vertical-align: middle;
}