.aw-development{
    display: none;
}
.aw-development-content{
    width:400px;
    margin-right: auto;
    margin-left:auto;
    margin-top:100px;

}
.aw-findboss{
    display:none;
}
.my-open{
    display:block;
}
.stock-search{
    margin-top:100px;
}

/*发现牛人css*/
.addedBoss{
    letter-spacing: 0.1em;

}
#aw-findboss{
    margin-bottom:100px;
}
.addedBoss strong{
    color:#FF3C24;
}
.aw-findboss-name{
    line-height:40px;
    font-size:40px;
    margin-left:40px;
    margin-top:40px;
}
.aw-findboss-name img{
    width:20px;
    padding-top:10px;
    padding-left:5px;
}
.aw-findboss-name a{
    font-size:14px;
    margin-left:40px;
}
.aw-findboss-introduce{
    margin-left:40px;
    margin-right:40px;
    margin-top:20px;
    text-indent:2em;
    line-height:20px;
}
.aw-findboss-title{
    margin-left:40px;
}
.aw-findboss-title p{
    margin-top:40px;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}
.aw-findboss-title li{
    margin-left:20px;
    line-height: 30px;
}
.aw-findboss-rate{
    margin-left:40px;
}
.aw-findboss-rate p{
    margin-top:40px;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}
.aw-findboss-rate-details {
    font-size:20px;
    line-height: 34px;
}
.aw-findboss-rate-details img{
    width:40px;
}
.aw-findboss-rate-details td{
    padding-left:40px;
}
.aw-findboss-rate-details .wenzhang,.aw-findboss-rate-details .moni,.aw-findboss-rate-details .zimeiti,.aw-findboss-rate-details .zhuanzhudu,.aw-findboss-rate-details .shoufei,.aw-findboss-rate-details .jijidu,.aw-findboss-rate-details .zonghe{

}
.aw-findboss-photos p{
    font-size:20px;
    line-height: 34px;
    margin-left:40px;
    margin-top:40px;
    font-weight: bold;
}
#aw-findboss-standard .aw-side-bar-mod-body>p>ul{
    padding-left: 10px;
}
#aw-findboss-standard .aw-side-bar-mod-body>p>ul ul{
    padding-left: 10px;
}