.aw-card-tips {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 270px;
    padding: 15px;
    background: #FFF;
    border: 1px solid #999;
    box-shadow: 0 2px 3px #DFDFDF;
    border-radius: 5px;
}

.aw-card-tips .title {
    font-weight: bold;
}

.aw-card-tips .aw-mod-head {
    position: relative;
    min-height: 60px;
    padding-left: 60px;
}

.aw-card-tips .aw-mod-head p {
    margin: 0 0 5px;
}

.aw-card-tips .aw-mod-head .aw-head-img {
    position: absolute;
    left: 0;
    top: 0;
}

.aw-card-tips .aw-mod-body {
    margin-bottom: 10px;
}

.aw-card-tips .aw-mod-footer {
    line-height: 26px;
    padding-top: 10px;
    border-top: 1px dotted #C1CAD4;
}